@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:ital,wght@1,900&display=swap');

.logo-txt {
    color: gold;
    font-family: 'Source Code Pro', monospace;
}

.container-fluid {
    max-width: 1300px;
    margin: auto;
}

.carousel-caption {
    top: 40%
}

.carousel-caption h2 {
    font-size: 50px;
    font-family: 'Source Code Pro', monospace;
    color:gold;
}

.carousel-caption p {
    font-size: 20px;
    font-family: 'Source Code Pro', monospace;
}