@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:ital,wght@1,900&display=swap');

.logo-txt {
    color: gold;
    font-family: 'Source Code Pro', monospace;
}

.contain {
    max-width: 1320px;
    margin: auto;
}

.carousel-caption {
    top: 40%
}

.carousel-caption h2 {
    font-size: 50px;
    font-family: 'Source Code Pro', monospace;
}

.carousel-caption p {
    font-size: 20px;
    font-family: 'Source Code Pro', monospace;
}

.bookcat {
   
    max-width: 1400px;
   
    min-height: 500px;
}


.bookcat h6{
    text-align: center;
    font-family: 'Source Code Pro', monospace;
}



/* login.html css starts here */
.loginForm {
    max-width: 500px;
    margin: auto;
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
}



/* signup.html css starts here */
.signupForm {
    max-width: 600px;
    margin: auto;
    border-radius: 5px;
    padding: 20px;
    background-color: #f2f2f2;
}

.btn-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.bg-signup, .bg-login{
    background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}
.col-3{
   
}
.col-3 ul li {
    list-style: none;
   
}
.col-3 ul li a{
    padding-right:50%;
    border-radius:10px;
    margin:10px;
}

.col{
    
    margin: 0px;
    flex-basis:30%;
    min-width: 250PX;
    margin-bottom: 30PX;
}
.col img{
   
    width:70%;
    margin:30px;
    border:rgb(10, 0, 0) double; 
    border-style: double;
}
.small-container{
   
    max-width:2000 0px;
    margin:auto;
    padding-left:25px;
    padding-right:25px;
}
.category{
    width: 100%;
    height: 100%;
    background:url(../bookworld-mini-project/images/1567846.jpg);
    background-size:cover;
}